In [ ]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

from __future__ import division
from import_file import *
load_libs()
set_chinese_font()

In [1]:
import sys
sys.executable

'/usr/bin/python3'

# 1.Data Wrangling

In [8]:

import pandas as pd
df = pd.read_excel('data/违法建筑.xls')

In [9]:
df.describe()

,,用地编码,建筑面积（平方米）,土地面积,绘制面积,整治情况,整治方案,街镇编码,点位数,图层
count,14530.000000,1.453000e+04,14527.000000,3763.000000,1.278500e+04,0.0,0.0,14530.000000,1416.000000,14530.00000
mean,7265.500000,1.894545e+09,1282.646413,596.013548,1.437426e+03,NaN,NaN,15104.471370,81.742232,1.21755
std,4194.594041,6.943762e+08,7128.664960,4326.898243,8.799320e+04,NaN,NaN,43.980247,181.990368,0.60428
min,1.000000,1.500400e+07,0.000000,0.000000,6.600000e-01,NaN,NaN,15004.000000,0.000000,1.00000
25%,3633.250000,2.150160e+09,28.000000,0.000000,2.381500e+01,NaN,NaN,15103.000000,13.000000,1.00000
50%,7265.500000,2.151103e+09,100.000000,23.000000,7.562900e+01,NaN,NaN,15117.000000,40.000000,1.00000
75%,10897.750000,2.151340e+09,510.285000,170.000000,2.834840e+02,NaN,NaN,15136.000000,102.000000,1.00000
max,14530.000000,2.151450e+09,291619.090000,214424.000000,9.921421e+06,NaN,NaN,15145.000000,5000.000000,3.00000